<h1>Metadata Update File</h1>

<% if @metadata_file.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(@metadata_file.errors.count, "error") %> prohibited this metadata file from being processed:</h2>

    <ul>
      <% @metadata_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @metadata_file, :html => { :multipart => true } do |f| %>

  <div class="card bg-light">
    <div class="card-body">
      <div class="form-group">
        <%= f.label :metadata, t('ddr.metadata_file.labels.metadata') %>
        <%= f.file_field :metadata %>
      </div>
    </div>
  </div>
  <div class="form-group mt-3">
    <%= f.submit I18n.t('ddr.metadata_file.upload_file'), id: 'metadata_file_submit_button', class: "btn btn-primary" %>
  </div>

<% end %>
