<h1>Metadata File Upload</h1>

<p class="lead">
  <%= t('ddr.metadata_file.queued', email: @metadata_file.user.email) %>
</p>

<div class="alert alert-warning">
  <%= t('ddr.metadata_file.reload_warning_html') %>
</div>

<div class="row">
  <div class="col-md-2">
    Metadata File:
  </div>
  <div class="col-md-4">
    <%= @metadata_file.metadata_file_name %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    User:
  </div>
  <div class="col-md-4">
    <%= @metadata_file.user.user_key %>
  </div>
</div>
