<h1>Metadata Update File</h1>

<table id="form_data" class="table table_bordered">
  <thead>
  <tr>
    <th><%= t('ddr.metadata_file.labels.metadata') %></th>
    <th><%= t('ddr.metadata_file.labels.rows') %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @metadata_file.metadata_file_name %></td>
    <td><%= metadata_file_rows(@metadata_file) %></td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered table-striped">

  <caption><%= t('ddr.metadata_file.fields') %></caption>
  <thead id="headers">
  <tr>
    <% @metadata_file.as_csv_table.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>
  <tr>
    <% @metadata_file.as_csv_table.headers.each do |header| %>
      <th class="sub-header"><%= metadata_field_disposition(header, @metadata_file) %></th>
    <% end %>
  </tr>
  </thead>
  <tbody id="rows">
  <% row_count = 0 %>
  <% @metadata_file.as_csv_table.each do |row| %>
    <% row_count += 1 %>
    <% if row_count <= 10 %>
      <tr>
        <% row.each do |col| %>
          <td><%= col[1].truncate(30) if col[1].present? %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>

</table>

<div class="form-group">
  <%= link_to I18n.t('ddr.metadata_file.create_batch'), procezz_ddr_metadata_file_path(@metadata_file), class: "btn btn-primary", id: "create-update-batch-btn" %>
</div>
