<h1>Manifest Based Ingest</h1>

<p class="lead">
  <% if @manifest_based_ingest.collection_id.present? %>
    Use the form below to add additional items to this collection.
  <% else %>
    Use the form below to create a new collection.
  <% end %>
</p>

<% if @manifest_based_ingest.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @manifest_based_ingest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-5">
    <%= form_for @manifest_based_ingest, html: { autocomplete: 'off' } do |f| %>
      <div class="form-group">
        <%= f.label :collection_id %>
        <%= f.hidden_field :collection_id %>
        <%= @manifest_based_ingest.collection_id.present? ? object_display_title(@manifest_based_ingest.collection_id) : '<Will be created by Ingest>' %>
      </div>
      <% if @manifest_based_ingest.collection_id.blank? %>
        <div class="form-group">
          <%= f.label :collection_title %>
          <%= f.text_field :collection_title, class: 'form-control' %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :manifest_file %>
        <%= f.file_field :manifest %>
        <br>
        or
        <br>
        <%= f.text_field :manifest_file, class: 'form-control' %>
      </div>
      <div class="form-group">
        <% unless @manifest_based_ingest.collection_id.present? %>
          <%= f.label :admin_set, "Admin Set" %>
          <%= f.select :admin_set, options_from_collection_for_select(Ddr::AdminSet.all, :code, :title), { include_blank: "N/A" }, { class: "form-control" } %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.submit "Submit", :id => "manifest_based_ingests_submit_button", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
