<h1>Manifest Based Ingest</h1>

<p class="lead">
  Manifest Based Ingest Job queued.  An email will be sent to <%= @manifest_based_ingest.user.email %> when it is complete.
</p>

<div class="row">
  <div class="col-md-2">
    Collection:
  </div>
  <div class="col-md-4">
    <%= @manifest_based_ingest.collection_id.present? ? object_display_title(@manifest_based_ingest.collection_id) : '<Will be created by Ingest>' %>
  </div>
</div>

<% unless @manifest_based_ingest.collection_id.present? %>
  <div class="row">
    <div class="col-md-2">
      Admin Set:
    </div>
    <div class="col-md-4">
      <%= admin_set_title(@manifest_based_ingest.admin_set) %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-2">
    User:
  </div>
  <div class="col-md-4">
    <%= @manifest_based_ingest.user.user_key %>
  </div>
</div>
