<div class="form-group">
  <%= f.label :basepath %>
  <%= f.select :basepath, options_for_select(permitted_file_upload_bases(ddr_file_name)), { prompt: true }, { class: 'form-control' } %>
</div>
<div class="form-group">
  <%= f.label :subpath %>
  <%= f.text_field :subpath, class: 'form-control' %>
</div>
