<h1>File Upload</h1>

<p class="lead">
  Use the form below to upload <%= @file_upload.ddr_file_name %> files to this collection.
</p>

<% if @file_upload.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @file_upload.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-5">
    <%= form_for @file_upload, html: { autocomplete: 'off' } do |f| %>
      <div class="form-group">
        <%= f.hidden_field :ddr_file_name %>
      </div>
      <div class="form-group">
        <%= f.label :collection_id %>
        <%= f.hidden_field :collection_id %>
        <%= @file_upload.collection_id.present? ? object_display_title(@file_upload.collection_id) : '<Will be created by Standard Ingest>' %>
      </div>
      <%= render partial: 'folder_path', locals: { f: f, ddr_file_name: @file_upload.ddr_file_name } %>
      <%= render partial: 'checksum_file', locals: { f: f, ddr_file_name: @file_upload.ddr_file_name } %>
      <div class="form-group">
        <%= f.submit "Submit", :id => "file_uploads_submit_button", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
