<h1>File Upload</h1>

<p class="lead">
  File Upload Job queued. An email will be sent to <%= @file_upload.user.email %> when it is complete.
</p>

<div class="row">
  <div class="col-md-2">
    Collection:
  </div>
  <div class="col-md-4">
    <%= object_display_title(@file_upload.collection_id) %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    DDR File Type:
  </div>
  <div class="col-md-4">
    <%= @file_upload.ddr_file_name %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    Folder Path:
  </div>
  <div class="col-md-4">
    <%= @file_upload.folder_path %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    Checksum File:
  </div>
  <div class="col-md-4">
    <%= @file_upload.checksum_file.present? ? @file_upload.checksum_path : 'No checksum file specified' %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    User:
  </div>
  <div class="col-md-4">
    <%= @file_upload.user.user_key %>
  </div>
</div>
