<% if count > 0 %>
  <%= link_to_unless_current("Components", {action: "components"}) %>
<% else %>
  Components
<% end %>
<% if can?(:add_children, current_object) %>
  <%= link_to new_ddr_component_path(parent_id: current_object), class: "btn btn-success btn-sm",
              title: "Create a new Component" do %>
    <span class="fas fa-plus"></span>
  <% end %>
<% end %>
