<%= render partial: 'parent_field', locals: { label: "Member of Collection" } %>
<%= render 'title_field' %>
<h2 class="h4">
  <span class="fas fa-plus"></span>
  Component
  <small class="text-muted">Optional</small>
</h2>

<p class="text-muted">
  You can also add (more) components to the new item later.
</p>

<%= render 'select_content_file' %>
