<%= render partial: "related_object", locals: {related: current_object.collection, property: "is_member_of_collection"} %>
<%= render partial: "related_object", locals: {related: current_object.parent, property: "is_part_of"} %>
