<div class="form-group">
  <label>Collection</label>
  <span class="formn-control-static"><%= link_to change_set.resource.collection.title_display, url_for(change_set.resource.collection) %></span>
</div>

<%= render partial: 'parent_field', locals: {label: "Part of Item"} %>

<%= hidden_field_tag "content[ddr_file_type]", 'content' %>

<%= render 'select_content_file' %>
