The files you exported are ready to download at

    <%= @export.url %>

After one week, these files may be deleted without notice.

<% if Ddr::Admin.export_files_volume.present? %>
To mount the storage on a computer workstation, follow the instructions
below for you operating system.

If you are not authorized to access the volume, please contact DDR staff.


=== Microsoft Windows 10 ===

- Connect to the Duke VPN.

- Navigate to "This PC".

- Click "add a network location", follow the wizard,
  and enter the location

    <%= Ddr::Admin.export_files_volume.gsub(/\//, '\\') %>

- OPTIONAL: Override the default name of the volume
  with something recognizable like "DDR Export Files".

- After connecting navigate to

    data<%= @export.relative_path.gsub(/\//, ' \\ ') %>


=== Mac OS ===

- Connect to the Duke VPN.

- From the Finder menu select

    Go -> Connect to Server...

- Enter the address

    smb:<%= Ddr::Admin.export_files_volume %>

  and your NetID and password if prompted.

- After connecting navigate to

    data<%= @export.relative_path.gsub(/\//, ' > ') %>


=== Linux ===

Pre-requisite: The cifs-utils package for your distribution must be installed.

- Connect to the Duke VPN.

- Mount the volume (as root)

    <%= Ddr::Admin.export_files_volume %>

  with the `mount' command (or using fstab or autofs),
  authenticating with your NetID and password and domain=WIN.

- From the root of the volume mount navigate to

    data<%= @export.relative_path %>
<% end %>