The file export request you submitted could not be completed due to a server error.

Please contact repository support.

DETAILS:

Export name: <%= @basename %>

Identifiers:
<% @identifiers.each do |id| -%>
  <%= id %>
<% end -%>
