<h1>Export Files</h1>

<% if @confirmed %>
  <div class="alert alert-success">
    <p>
      Files are being prepared for export.
      You will receive an email notification when the job is complete.
    </p>
  </div>
<% else %>
  <%= form_tag controller: 'ddr/export_files', action: 'create' do %>
    <%= hidden_field_tag :identifiers, @export.repo_ids.join(" ") %>
    <%= hidden_field_tag :basename, @export.basename %>
    <% @export.files.each_with_index do |file, index| %>
      <%= hidden_field_tag "files[]", file, id: "files_#{index}" %>
    <% end %>
    <%= hidden_field_tag :confirmed, 1 %>
    <div class="alert alert-info">
      <p>
        You are preparing to export <strong><%= @export.expected_num_files %> files</strong>.
        The size of the file content is <strong><%= number_to_human_size(@export.expected_payload_size, prefix: :si) %></strong>.
        Continue?
      </p>
      <%= submit_tag "Yes, Export", class: "btn btn-primary" %>
    </div>
  <% end %>

  <% if @export.not_found.present? %>
    <div class="alert alert-warning">
      <p>Some identifiers were not found or were excluded due to insufficient privileges:</p>
      <ul>
        <% @export.not_found.each do |id| %>
          <li><%= id %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
