<h1>Export Files</h1>

<p>
  <%= link_to 'New Export', new_ddr_export_file_path, class: 'btn btn-primary' %>
</p>

<iframe src="<%= Ddr::Admin.export_files_base_url %>" title="Export Files Browser" width="100%" height="600"></iframe>
