<h1>Export Component Files</h1>

<p>
  <%= link_to 'Browse Export Volume', ddr_export_files_path, class: 'btn btn-primary' %>
</p>

<%= form_tag controller: 'ddr/export_files', action: 'create' do %>
  <div class="form-group">
    <%= label_tag :basename, "Base Name" %>
    <%= text_field_tag :basename, params[:basename],
	maxlength: 64, class: "form-control", "aria-describedby"=>"export_files_basename_help", required: true %>
    <span id="export_files_basename_help" class="form-text">
      <%= t 'ddr.export_files.help.basename' %>
    </span>
  </div>
  <div class="form-group">
    <%= label_tag :identifiers %>
    <%= text_area_tag :identifiers, params[:identifiers], rows: 10,
        class: "form-control", "aria-describedby"=>"export_files_identifiers_help", required: true %>
    <span id="export_files_identifiers_help" class="form-text">
      <%= t 'ddr.export_files.help.identifiers' %>
    </span>
  </div>
  <div class="form-group">
    <div class="form-check form-check-inline">
    <%= label_tag :files, "File Types", class: 'form-check-label', for: 'all-files' %>
    &nbsp;&nbsp;<%= check_box_tag "all-files", "all-files", false %>&nbsp;<label class="form-check-label" for="all-files">all</label>
    </div>
    <% Ddr::Component.attachable_files.each do |file| %>
      <div class="form-check file-type-checkboxes">
        <%= check_box_tag "files[]", file, false, class: 'form-check-input', id: "file-type-#{file}" %>
        <label class="form-check-label" for="file-type-<%= file %>"><%= I18n.t("ddr.export_files.help.file_types.#{file}") %></label>
      </div>
    <% end %>
    <span id="export_files_types_help" class="form-text">
      <%= t 'ddr.export_files.help.types' %>
    </span>
  </div>
  <%= submit_tag "Export", class: "btn btn-primary" %>
<% end %>

<script>
$("#all-files").click(
  function(ev) {
    $("div.file-type-checkboxes input").each(function(i, c) {
      c.checked = ev.target.checked
    })
  }
);
</script>
