<%- if authenticate_user -%>
auth :api do |username|
  ::User.find_by(username:)
end
<%- end %>
<%- if curators_only -%>
before { unauthorized! unless curator? }
<%- end -%>
<%- media_types.each do |fmt, type| -%>
content_type :<%= fmt %>, '<%= type %>'
<%- end -%>
default_format :<%= default_format %>
helpers <%= helpers.join(', ') %>
<%- routes.each do |route| %>
# <%= route.http_method.upcase %> <%= route.path %>
desc <%= route.desc.inspect %>
<%- if route.params.any? -%>
params do
  <%- route.params.each do |param| -%>
  <%- if param.nested_params.present? -%>
  <%= param.inspect %> do
    <%- param.nested_params.each do |nested_param| -%>
    <%= nested_param.inspect %>
    <%- end -%>
  end
  <%- else -%>
  <%= param.inspect %>
  <%- end -%>
  <%- end -%>
end
<%- end -%>
<%= route.http_method %> '<%= route.path %>' do
  <%= route.operation_id %>
end
<%- end %>
