<%= link_to content_tag(:span, "", :class => "fas fa-trash"), { :action => 'destroy', :id => @batch },
            :method => 'delete', :id => "batch_delete_#{@batch.id}",
            :data => { :confirm => "#{t('ddr.batch.web.batch_deletion_confirmation', batch_id: @batch.id) }" } -%>
