<% unless @batches.empty? %>
    <div id="paginate">
      <div class="page_links">
        <%= render 'ddr/batches/paginate_compact' %>
      </div>
    </div>
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">&nbsp;</th>
          <th scope="col">ID</th>
          <th scope="col">Action</th>
          <th scope="col">Status</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Created</th>
          <th scope="col">Objects</th>
          <th scope="col">Start</th>
          <th scope="col">Outcome</th>
          <th scope="col">Log</th>
          <th scope="col">User</th>
        </tr>
      </thead>
      <tbody>
        <% @batches.each do |b| %>
          <tr>
            <td><%= render_batch_delete_link(b) %></td>
            <td><%= link_to(b.id, ddr_batch_path(b)) %></td>
            <td><%= batch_action(b) %></td>
            <td><%= batch_status_message(b) %></td>
            <td><%= b.name %></td>
            <td><%= b.description %></td>
            <td><%= b.created_at.getlocal.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td><%= b.batch_objects.size %></td>
            <td><%= b.start.nil? ? '--' : b.start.getlocal.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td><%= b.outcome.nil? ? '--' : b.outcome %><%= render_batch_retry_link(b) %></td>
            <td><%= b.start.nil? ? '--' : link_to(I18n.t('ddr.batch.web.column_names.log'), "/api/batches/#{b.id}/messages.csv") %></td>
            <td><%= b.user.nil? ? '--' : b.user.user_key %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination">
      <%= paginate @batches, :outer_window => 2, :theme => 'blacklight' %>
    </div>
<% else %>
    <p><%= I18n.t('ddr.batch.web.no_batches') %></p>
<% end %>
