<div id="paginate">
   <div class="page_links">
     <%= render 'ddr/batch_objects/paginate_compact' %>
   </div>
</div>
<% unless @batch.batch_objects.empty? %>
	<table class="table table-bordered table-striped table-sm">
		<thead>
			<tr>
				<th scope="col"><%= t('ddr.batch.web.column_names.id') %></th>
				<th scope="col"><%= t('ddr.batch.web.column_names.identifier') %></th>
				<th scope="col"><%= t('ddr.batch.web.column_names.model') %></th>
				<th scope="col"><%= t('ddr.batch.web.column_names.pid') %></th>
				<th scope="col"><%= t('ddr.batch.web.column_names.verified') %></th>
			</tr>
		</thead>
		<tbody>
			<% @batch_objects.each do |bo| %>
				<tr>
					<td><a href="<%= ddr_batch_object_path(bo) %>"><%= bo.id %></td>
					<td><%= bo.identifier %></td>
					<td><%= bo.model %></td>
					<td><%= bo.resource_id %></td>
					<td><%= bo.verified %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<div class="pagination">
  <%= paginate @batch_objects, :outer_window => 2, :theme => 'blacklight' %>
</div>
