<%= content_tag :table, :class => 'table table-bordered table-striped table-sm' do %>
	<%= content_tag :thead do %>
		<%= content_tag :tr do %>
			<%= content_tag :th, '', :scope => 'col' %>
			<%= content_tag :th, t('batch.web.column_names.action'), :scope => 'col' %>
			<%= content_tag :th, t('batch.web.column_names.status'), :scope => 'col' %>
			<%= content_tag :th, t('batch.web.column_names.name'), :scope => 'col' %>
			<%= content_tag :th, t('batch.web.column_names.description'), :scope => 'col' %>
			<%= content_tag :th, t('batch.web.column_names.creation_date'), :scope => 'col'%>
			<%= content_tag :th, t('batch.web.column_names.objects'), :scope => 'col' %>
			<%= content_tag :th, t('batch.web.column_names.start'), :scope => 'col' %>
			<%= content_tag :th, t('batch.web.column_names.outcome'), :scope => 'col' %>
			<%= content_tag :th, t('ddr.batch.web.column_names.log'), :scope => 'col' %>
			<% if acting_as_superuser? %>
				<%= content_tag :th, t('batch.web.column_names.user'), :scope => 'col' %>
			<% end %>
		<% end %>

	<% end %>
	<%= content_tag :tbody do %>
		<%= content_tag :tr do %>
			<%= content_tag :td, render_batch_delete_link(@batch) %>
			<%= content_tag :td, batch_action(@batch) %>
			<%= content_tag :td, batch_status_message(@batch) %>
			<%= content_tag :td, @batch.name %>
			<%= content_tag :td, @batch.description %>
			<%= content_tag :td, @batch.created_at.getlocal.strftime("%Y-%m-%d %H:%M:%S") %>
			<%= content_tag :td, @batch.batch_objects.count %>
			<%= content_tag :td, @batch.start.nil? ? '--' : @batch.start.getlocal.strftime("%Y-%m-%d %H:%M:%S") %>
			<%= content_tag :td do -%>
				<%= @batch.outcome.nil? ? '--' : @batch.outcome %>
				<%= render_batch_retry_link(@batch) %>
			<% end -%>
			<%= content_tag :td, @batch.start.nil? ? '--' : link_to(I18n.t('ddr.batch.web.column_names.log'), "/api/batches/#{@batch.id}/messages.csv") %>
			<% if acting_as_superuser? %>
				<%= content_tag :td, @batch.user.user_key %>
			<% end %>
		<% end %>
	<% end %>
<% end %>
<% unless @errors.blank? %>
	<%= content_tag :h3, I18n.t('batch.web.headings.object_validation_errors') %>
	<%= content_tag :ul do %>
		<% @errors.each do |error| %>
			<%= content_tag :li, error %>
		<% end %>
	<% end %>
<% end %>
