<a href="#role-types-permissions-modal" data-toggle="modal" class="btn btn-info">
  <span class="fas fa-info-circle"></span>
  Role Types and Permissions
</a>

<div class="modal" id="role-types-permissions-modal" aria-label="Role Types and Permissions">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title h4">Role Types and Permissions</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= render "docs/roles" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
