<% if Ddr::Admin.preview_banner_msg.present? %>
  <%= render :partial=>'shared/preview_alert' %>
<% end %>

<div id="header-navbar" class="navbar navbar-light bg-light navbar-expand-sm navbar-static-top" role="navigation" aria-label="Masthead">
  <div class="container">
    <div class="navbar-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to image_tag('ddr_admin/dul_logo.png', alt: application_name), root_path, class: "navbar-brand" %>
    </div>
    <h2>DUKE DIGITAL REPOSITORY | Administration</h2>

    <div class="collapse navbar-collapse justify-content-end" id="user-util-collapse">
      <%= render '/user_util_links' %>
    </div>
  </div>
</div>

<div id="search-navbar" class="navbar navbar-light bg-light navbar-static-top mb-3" role="navigation" aria-label="Search Navbar">
  <div class="container">
    <%= render Blacklight::SearchBarComponent.new(
          url: search_action_url,
          params: search_state.params_for_search.except(:qt)) %>
  </div>
</div>
