<div class="alert alert-info alert-dismissible rounded-0 preview-alert preview-alert-<%= Rails.env %>" role="alert">
  <small>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="fa fa-exclamation-triangle" data-toggle="tooltip" data-html="true" data-placement="right" data-title="Rails Env: &lt;strong&gt;<%= Rails.env %>&lt;/strong&gt;"></span>
      <span class="preview-alert-msg"><%= Ddr::Admin.preview_banner_msg %></span>
      <span class="preview-alert-msg"> | </span>
      <span class="preview-alert-msg">Ddr::Admin <strong>v<%= Ddr::Admin::VERSION %></strong></span>
  </small>
</div>
