<h1>DPC Folder Ingest</h1>

<div class="row">
  <div class="col-md-5">
    <% if @ingest_folder.errors.any? %>
      <div class="alert alert-danger">
        <strong><%= pluralize(@ingest_folder.errors.count, "error") %>
          prohibited this ingest folder from being scanned:</strong>
        <ul>
          <% @ingest_folder.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for @ingest_folder, html: { autocomplete: 'off' } do |f| %>
      <div class="form-group">
        <%= f.label I18n.t('ddr.ingest_folder.labels.collection_id') %>
        <%= f.hidden_field :collection_id %>
        <%= object_display_title(@ingest_folder.collection_id) %>
      </div>
      <div class="form-group">
        <%= f.label t('ddr.ingest_folder.labels.base_path') %>
        <%= f.select :base_path, options_for_select(permitted_ingest_folder_bases), {}, {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= f.label t('ddr.ingest_folder.labels.sub_path') %>
        <%= f.text_field :sub_path, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label t('ddr.ingest_folder.labels.checksum_file') %>
        <%= f.text_field :checksum_file, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label t('ddr.ingest_folder.labels.checksum_type') %>
        <%= f.select :checksum_type,
                     options_for_select(checksum_type_options_for_select,
                                        @ingest_folder.checksum_type || Ddr::IngestFolder.default_checksum_type),
                     class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label t('ddr.ingest_folder.labels.parent_id_length') %>
        <%= f.text_field :parent_id_length, class: 'form-control' %>
        <span class="form-text"><%= t('ddr.ingest_folder.help.parent_id_length')%></span>
      </div>
      <div class="form-group">
        <%= f.submit t('ddr.ingest_folder.scan_folder'), id: 'ingest_folders_submit_button', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
