<h1>DPC Folder Ingest</h1>

<p class="lead">
  <%= t('ddr.ingest_folder.queued', email: @ingest_folder.user.email) %>
</p>

<div class="alert alert-warning">
  <%= t('ddr.ingest_folder.reload_warning_html') %>
</div>

<div class="row">
  <div class="col-md-2">
    Collection:
  </div>
  <div class="col-md-4">
    <%= object_display_title(@ingest_folder.collection_id) %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    Folder Path:
  </div>
  <div class="col-md-4">
    <%= @ingest_folder.abbreviated_path %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    User:
  </div>
  <div class="col-md-4">
    <%= @ingest_folder.user.user_key %>
  </div>
</div>
