<h1>DPC Folder Ingest</h1>

<% if @ingest_folder.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(@ingest_folder.errors.count, "warning") %> for this ingest folder:</h2>

    <ul>
      <% @ingest_folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= content_tag(:table, :class => 'table-bordered') do %>

  <%= content_tag(:tr) do %>
    <%= content_tag(:td, I18n.t('ddr.ingest_folder.labels.collection_id')) %>
    <%= content_tag(:td, object_display_title(@ingest_folder.collection_id)) %>
  <% end %>
  <%= content_tag(:tr) do %>
    <%= content_tag(:td, I18n.t('ddr.ingest_folder.labels.folder')) %>
    <%= content_tag(:td, @ingest_folder.abbreviated_path) %>
  <% end %>
  <%= content_tag(:tr) do %>
    <%= content_tag(:td, I18n.t('ddr.ingest_folder.labels.total_files_scanned')) %>
    <%= content_tag(:td, @scan_results.total_count) %>
  <% end %>
  <%= content_tag(:tr) do %>
    <%= content_tag(:td, I18n.t('ddr.ingest_folder.labels.objects_to_ingest')) %>
    <%= content_tag(:td) do %>
      <%= content_tag(:ul) do %>
        <%= content_tag(:li, file_count) %>
        <%= content_tag(:li, parent_count) %>
        <%= content_tag(:li, target_count) %>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag(:tr) do %>
    <%= content_tag(:td, I18n.t('ddr.ingest_folder.labels.excluded_files')) %>
    <%= content_tag(:td) do %>
      <%= content_tag(:ul) do %>
        <%= excluded_file_list %>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag(:tr) do %>
    <%= content_tag(:td, I18n.t('ddr.ingest_folder.labels.checksum_file')) %>
    <%= content_tag(:td, @ingest_folder.checksum_file) %>
  <% end %>
  <% if @ingest_folder.checksum_file.present? %>
    <%= content_tag(:tr) do %>
      <%= content_tag(:td, I18n.t('ddr.ingest_folder.labels.checksum_type')) %>
      <%= content_tag(:td, @ingest_folder.checksum_type) %>
    <% end %>
  <% end %>
  <%= content_tag(:tr) do %>
    <%= content_tag(:td, I18n.t('ddr.ingest_folder.labels.parent_id_length')) %>
    <%= content_tag(:td, @ingest_folder.parent_id_length) %>
  <% end %>

<% end %>

<div class="form-group">
  <%= link_to I18n.t('ddr.ingest_folder.create_batch'), procezz_ddr_ingest_folder_path(@ingest_folder), class: "btn btn-primary", id: "ingest_folder_create_batch_btn" %>
</div>