<div class="form-group">
  <%= label_tag :for_collection_id, "For Collection" %>
  <%= link_to change_set.resource.for_collection.title_display, url_for(change_set.resource.for_collection) %>
  <%= hidden_field_tag :for_collection_id, for_collection.id.id %>
</div>

<%= hidden_field_tag "content[ddr_file_type]", 'content' %>

<%= render 'select_content_file' %>
