<table class="table" style="width:auto">
  <tr>
    <th scope="row">Items</th>
    <td><%= collection_report[:items] %></td>
  </tr>
  <tr>
    <th scope="row">Components</th>
    <td><%= collection_report[:components] %></td>
  </tr>
  <tr>
    <th scope="row">Total Content</th>
    <td><%= number_to_human_size collection_report[:total_file_size] %></td>
  </tr>
</table>
