<%= render "related_children" %>

<li class="list-group-item">
  <% count = current_object.attachments.select { |att| current_ability.can?(:read, att) }.count %>
  <span class="badge badge-pill badge-secondary"><%= count %></span>
  <% if count > 0 %>
    <%= link_to_unless_current("Attachments", { action: "attachments" }) %>
  <% else %>
    Attachments
  <% end %>

  <% if can?(:create, Ddr::Attachment) && can?(:add_attachment, current_object) %>
    <%= link_to new_ddr_attachment_path(attached_to_id: current_object), class: "btn btn-success btn-sm",
                title: "Create a new Attachment" do %>
      <span class="fas fa-plus"></span>
    <% end %>
  <% end %>
</li>

<li class="list-group-item">
  <% count = current_object.targets.select { |tgt| current_ability.can?(:read, tgt) }.count %>
  <span class="badge badge-pill badge-secondary"><%= count %></span>
  <% if count > 0 %>
    <%= link_to_unless_current "Targets", { action: "targets" } %>
  <% else %>
    Targets
  <% end %>

  <% if can?(:create, Ddr::Target) && can?(:add_target, current_object) %>
    <%= link_to new_ddr_target_path(for_collection_id: current_object), class: "btn btn-success btn-sm",
                title: "Create a new Target" do %>
      <span class="fas fa-plus"></span>
    <% end %>
  <% end %>
</li>
