<% content_for :head do %>
  <%= javascript_include_tag "select2.min.js" %>
  <%= stylesheet_link_tag "select2.min.css" %>
<% end %>

<%= content_for :page_heading do %>
  Export Descriptive &amp; Administrative Metadata
<% end %>

<script type="text/javascript">
    $(function () {
        $('.metadata-field-selector').select2({
            placeholder: "Select fields or leave empty to export all fields"
        });
    });
</script>

<%= form_tag "#{export_ddr_collection_path(current_object)}.csv", method: "post" do %>
  <input type="hidden" name="type" value="descmd"/>
  <% if current_object.admin_set && can?(:export, Ddr::AdminSet) %>
    <div class="form-group">
      <p><strong>Scope</strong></p>
      <div class="form-check">
        <%= radio_button_tag "scope", "collection", true, class: 'form-check-input', id: 'scope-collection' %>
        <label class="form-check-label" for="scope-collection">
          This collection only
        </label>
      </div>
      <div class="form-check">
        <%= radio_button_tag "scope", "admin_set", false, class: 'form-check-input', id: 'scope-admin-set' %>
        <label class="form-check-label" for="scope-admin-set">
          All collections in the <em><%= Ddr::AdminSet.call(current_object).title %></em> admin set
        </label>
      </div>
    </div>
  <% else %>
    <input type="hidden" name="scope" value="collection"/>
  <% end %>
  <div class="form-group">
    <label for="dmd_fields[]">Descriptive Metadata Fields</label>
    <select name="dmd_fields[]" class="metadata-field-selector form-control" multiple="true">
      <%= options_from_collection_for_select Ddr::Describable.term_names, :to_s, :to_s %>
    </select>
  </div>
  <div class="form-group">
    <label for="amd_fields[]">Administrative Metadata Fields</label>
    <select name="amd_fields[]" class="metadata-field-selector form-control" multiple="true">
      <%= options_from_collection_for_select exportable_admin_metadata_fields, :to_s, :to_s %>
    </select>
  </div>
  <div class="form-group">
    <p><strong>Include Object Types</strong></p>
    <% ["Collection", "Item", "Component"].each do |model| %>
      <div class="form-check">
        <%= check_box_tag "models[]", model, true, class: 'form-check-input', id: "include-type-#{model}" %>
        <label class="form-check-label" for="include-type-<%= model %>"><%= model %></label>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <p><strong>Other Options</strong></p>
    <div class="form-check">
      <%= check_box_tag "remove_empty_columns", 'true', true, class: 'form-check-input', id: 'remove-empty-columns' %>
      <label class="form-check-label" for="remove-empty-columns">Remove empty columns</label>
    </div>
    <div class="form-check">
      <%= check_box_tag "include_original_filename", "include_original_filename", false, class: 'form-check-input', id: 'include-original-filename' %>
      <label class="form-check-label" for="include-original-filename">Include <strong>original_filename</strong> column</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Export</button>
<% end %>
