<h1 class="sr-only"><%= t('blacklight.application_name') %></h1>

<h2><%= t('blacklight.welcome') %></h2>

<p>
  To browse the repository by category, use the facets on the left side of this page.
</p>
