<div id="sortAndPerPage" class="clearfix" style="padding-top: 1em;">
  <%= render partial: "paginate_compact", object: @response if show_pagination? %>
  <div class="search-widgets float-right">
    <%= render :partial => 'sort_widget' %>
    <%= render :partial => 'per_page_widget' %>
  </div>
</div>
