<%= f.label :research_help_contact, "Research Help Contact" %>
<%= f.select :research_help_contact, research_help_contact_options_for_select, { include_blank: "N/A" },
             { class: "form-control" } %>
