<div class="card bg-light">
  <div class="card-body">
    <%= link_to "Cancel", current_object, class: "btn btn-danger float-right" %>
    <%= form.submit class: "btn btn-primary", id: "desc-metadata-form-submit" %>
  </div>
</div>
