<!--
  HIDDEN CONTENT FOR CLONING
  -->
<div style="display: none;">

  <div id="clone-fieldset">
    <fieldset>
      <legend><!-- field --></legend>
      <div class="field-values">
        <!-- field values -->
      </div>
    </fieldset>
  </div>

  <div id="clone-field-value">
    <% change_set.desc_metadata_field_names.each do |field| %>
      <div class="input-group field-value descMetadata__<%= field %>__clone">
        <%= desc_metadata_form_field_label(field, 0) %>
        <%= desc_metadata_form_field_tag(field, nil, 0) %>
        <%= render 'ddr/desc_metadata_form/remove_value_button' %>
      </div>
    <% end %>
  </div>

</div>
<!--
  END HIDDEN CONTENT FOR CLONING
  -->
