<li class="dropdown nav-item ml-auto">
  <a class="nav-link dropdown-toggle" aria-haspopup="true" data-toggle="dropdown" data-display="static" href="#" type="button" aria-expanded="false" id="fieldListDropdownMenuLink">
    <%= label %> 
  </a>
  <div id="fieldListTerms" class="dropdown-menu dropdown-menu-right" aria-labelledby="fieldListDropdownMenuLink">
    <% terms.each do |term| %>
      <%= link_to term, "#", class: "add-field-button dropdown-item" %>
    <% end %>
  </div>
</li>
