<nav class="navbar navbar-light bg-light" role="navigation">
  <div class="navbar-header">
    <span class="navbar-brand">Insert Metadata Field</span>
  </div>
  <ul class="navbar-nav">
    <%= desc_metadata_field_lists %>
  </ul>
</nav>
