<h1>Standard Ingest</h1>

<p class="lead">
  <% if @standard_ingest.collection_id.present? %>
    Use the form below to add additional items to this collection.
  <% else %>
    Use the form below to create a new collection.
  <% end %>
</p>

<% if @standard_ingest.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @standard_ingest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-5">
    <%= form_for @standard_ingest, html: { autocomplete: 'off' } do |f| %>
      <div class="form-group">
        <%= f.label :collection_id %>
        <%= f.hidden_field :collection_id %>
        <%= @standard_ingest.collection_id.present? ? object_display_title(@standard_ingest.collection_id) : '<Will be created by Standard Ingest>' %>
      </div>
      <%= render partial: 'folder_path', locals: { f: f } %>
      <div class="form-group">
        <% unless @standard_ingest.collection_id.present? %>
          <%= f.label :admin_set, "Admin Set" %>
          <%= f.select :admin_set, options_from_collection_for_select(Ddr::AdminSet.all, :code, :title), { include_blank: "N/A" }, { class: "form-control" } %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.submit "Submit", :id => "standard_ingests_submit_button", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
