body {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

@mixin font-weight-semibold {
  font-weight: 600 !important;
}

.font-weight-semibold {
  @include font-weight-semibold;
}

/* Accessibility: for use in cases where inline linked text has   */
/* insufficient contrast (< 3:1) with its surrounding text; links */
/* must be distinguishable by more than color.                    */
@mixin underlined-link {
  text-decoration: underline;
  text-decoration-color: #aaa;
}

a.underlined-link {
  @include underlined-link;
}

/* Accessibility: ensure sufficient contrast on select2 form fields */
.select2-selection__placeholder {
  color: $text-muted !important;
}

/* --------------------------
    DUL Custom Alert Styles
    accessibility adjustments
----------------------------- */

.alert a:not(.close) {
  @include underlined-link;
}

.alert-warning, .list-group-item-warning {
  color: shade($warning, 50%) !important;
}

#facets .facet-values li .selected {
  color: shade($success, 31%) !important;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: $gray-dark;
}