/* BEGIN Blacklight */
#header-navbar {
    padding-top: 8px;
}

#header-navbar h2  {
    display: inline;
    color: $primary;
}

#header-navbar .navbar-brand {
    min-height: 42px;
    min-width: 200px;
    padding-bottom: 0;
}

.preview-alert {
  margin-bottom: 0 !important;
  border-width: 0 0 2px 0;

  & .preview-alert-msg {
    margin-right: 1em;
  }
}

form.bookmark_toggle {
    display: inline;
}

.blacklight-icon-search svg {
  max-height: 20px;
}

// Bootstrap xs breakpoint
@media (max-width: 575.98px) {
  .search-q {
    max-width: 50%;
  }
}

// Bootstrap sm breakpoint
@media (min-width: 576px) and (max-width: 767.98px) {
  .search-query-form {
    width: 100%;
  }
}

// Bootstrap md and above
@media (min-width: 768px) {
  .search-query-form {
    width: 80%;
  }
}

#q {
  width: max-content;
}

// .document-metadata needs to be width-restricted
// to avoid wrapping in Safari
.document-metadata {
  flex: 0 0 80%;
  max-width: 80%;
}

/* END Blacklight */

i.i-thumbnail {
  font-size: 100px;
}

#object-summary .card-text li {
  margin-bottom: 1em;
}

.i-thumbnail {
  color: gray;
}

#fieldListTerms {
  position: absolute;
}

.rights-form legend {
    font-size: medium;
    font-weight: bold;
}
.rights-form fieldset {
    margin-bottom: 1em;
}
.rights-form .access-level {
    margin-bottom: 1.5em;
}
.rights-form .access-level label {
    font-weight: bold;
    text-transform: uppercase;
}
.rights-form .form-text {
    font-size: smaller;
}

table.access-controls {
    width: auto;
}
table.access-controls .access-level-label {
    text-transform: uppercase;
    font-weight: bold;
}
table.access-controls td ul {
    margin: 0;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

.table .sub-header {
    font-style: italic;
    color: #999;
}

.table .mappings:empty {
    background-color: #F2DEDE;
    color: /*#A94442*/ #db7c7a;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

.table .mappings:empty:before {
    content: 'will not map';
}

.desc-metadata-form fieldset {
    margin: 1em 0;
}
.desc-metadata-form .field-value {
    margin-bottom: 0.5em;
}

span.label.event-outcome { /* event outcome label */
    font-size: medium;
}
