<div class="form-group">
  <%= f.label :basepath %>
  <% if permitted_nested_folder_ingest_bases.size == 1 %>
    <%= f.hidden_field :basepath, value: permitted_nested_folder_ingest_bases.first %>
    <%= permitted_nested_folder_ingest_bases.first %>
  <% else %>
    <%= f.select :basepath, options_for_select(permitted_nested_folder_ingest_bases), { prompt: true },
                 { class: 'form-control' } %>
  <% end %>
</div>
<div class="form-group">
  <%= f.label :subpath %>
  <%= f.text_field :subpath, class: 'form-control' %>
</div>
