<h1>Nested Folder Ingest</h1>

<p class="lead">
  Nested Folder Ingest Job queued.  An email will be sent to <%= @nested_folder_ingest.user.email %> when it is complete.
</p>

<div class="row">
  <div class="col-md-2">
    Collection:
  </div>
  <div class="col-md-4">
    <%= @nested_folder_ingest.collection_id.present? ? object_display_title(@nested_folder_ingest.collection_id) : '<Will be created by Ingest>' %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    Folder Path:
  </div>
  <div class="col-md-4">
    <%= @nested_folder_ingest.folder_path %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    Checksum File:
  </div>
  <div class="col-md-4">
    <%= @nested_folder_ingest.checksum_path %>
  </div>
</div>

<% unless @nested_folder_ingest.collection_id.present? %>
  <div class="row">
    <div class="col-md-2">
      Collection Title:
    </div>
    <div class="col-md-4">
      <%= @nested_folder_ingest.collection_title %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      Admin Set:
    </div>
    <div class="col-md-4">
      <%= admin_set_title(@nested_folder_ingest.admin_set) %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-2">
    User:
  </div>
  <div class="col-md-4">
    <%= @nested_folder_ingest.user.user_key %>
  </div>
</div>
