<div class="form-group">
  <%= label_tag :attached_to_id, "Attached To" %>
  <%= link_to change_set.resource.attached_to.title_display, url_for(change_set.resource.attached_to) %>
  <%= hidden_field_tag :attached_to_id, attached_to.id.id %>
</div>

<%= render 'title_field' %>

<%= hidden_field_tag "content[ddr_file_type]", 'content' %>

<%= render 'select_content_file' %>
