<div class="alert alert-secondary" role="alert">
  Actions which are not permitted due to role-based access controls are disabled.
</div>
<ul class="list-group">
  <% tab.actions.each do |action| %>
  <li class="list-group-item">
    <% if action.can? %>
      <%= link_to action.title, url_for(action.url_options),
	  {'class'=>'btn btn-secondary btn-block text-left', 'role'=>'button', 'aria-pressed'=>'true'} %>
    <% else %>
      <button type="button" class="btn btn-secondary btn-block text-left" disabled><%= action.title %></button>
    <% end %>
  </li>
  <% end %>
</ul>
