<table class="table">
  <% admin_metadata_fields.each do |field| %>
    <% values_as_array(current_object.values(field)).each do |value| %>
      <tr>
        <th scope="row">
          <%= t("ddr.resource.#{field}", default: field.to_s.titleize) %>
        </th>
        <td>
          <%= link_to_if((field == :permanent_url && value.present?), value, value) %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
