<fieldset>
  <% editable_admin_metadata_fields.each do |field| %>
    <div class="form-group">
      <%= render_admin_metadata_form_field(f, field) %>
    </div>
  <% end %>
</fieldset>

<h2>Read-only fields</h2>
<table class="table">
  <% readonly_admin_metadata_fields.each do |field| %>
    <tr>
      <th scope="row">
        <%= admin_metadata_form_field_label(field) %>
      </th>
      <td>
        <%= current_object.send(field) || " " %>
      </td>
    </tr>
  <% end %>
</table>
