<% if current_or_guest_user %>
  <%-
    # Note these two forms are pretty similar but for different :methods, classes, and labels.
    # but it was simpler to leave them seperate instead of DRYing them, got confusing trying that.
    # the data-doc-id attribute is used by our JS that converts to a checkbox/label.
  -%>
  <% unless current_or_guest_user.bookmarks.map(&:document_id).include?(document.id) %>

    <%= form_tag( bookmark_path( document ), :method => :put, :class => "bookmark_toggle", "data-doc-id" => document.id, :'data-present' => t('blacklight.search.bookmarks.present'), :'data-absent' => t('blacklight.search.bookmarks.absent'), :'data-inprogress' => t('blacklight.search.bookmarks.inprogress')) do %>
      <%= submit_tag(t('blacklight.bookmarks.add.button'), :id => "bookmark_toggle_#{document.id.to_s.parameterize}", :class => "bookmark_add btn btn-outline-secondary") %>
    <% end %>

  <% else %>

    <%= form_tag( bookmark_path( document ), :method => :delete, :class => "bookmark_toggle", "data-doc-id" => document.id, :'data-present' => t('blacklight.search.bookmarks.present'), :'data-absent' => t('blacklight.search.bookmarks.absent'), :'data-inprogress' => t('blacklight.search.bookmarks.inprogress')) do %>
      <%= submit_tag(t('blacklight.bookmarks.remove.button'), :id => "bookmark_toggle_#{document.id.to_s.parameterize}", :class => "bookmark_remove btn btn-outline-secondary") %>
    <% end %>

  <% end %>
<% else %>
  &nbsp;
<% end %>
