<% if create_menu_models.present? %>
  <div class="nav-item dropdown">
    <a role="button" class="px-3 text-reset nav-link btn btn-outline-secondary btn-sm dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#">
      New
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <% create_menu_models.each do |model| %>
        <%= link_to_create_model model %>
      <% end %>
    </div>
  </div>
<% end %>
