<% if current_object.has_desc_metadata? %>
  <table class="table">
    <% current_object.desc_metadata_terms.each do |term| %>
      <% label = term.to_s.titleize %>
      <% case current_object.values(term) %>
        <% when Array %>
          <% current_object.values(term).each do |value| %>
            <%= render partial: 'descriptive_metadata_value', locals: {label: label, value: value} %>
          <% end %>
        <% when DateTime %>
          <%= render partial: 'descriptive_metadata_value', locals: {label: label, value: current_object.values(term)} %>
        <%# NOTE: Due to a bug, Valkyrie will produce a Time. Can be removed when the patch goes through. %>
        <% when Time %>
          <%= render partial: 'descriptive_metadata_value', locals: {label: label, value: current_object.values(term).to_datetime} %>
      <% end %>
    <% end %>
  </table>
<% else %>
  <p class="alert alert-warning">
    This object has no descriptive metadata.
  </p>
<% end %>
