<% if embedded_viewer? %>
  <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="<%= embedded_viewer_url %>" loading="lazy"></iframe>
  </div>
<% else %>
  <div class="alert alert-warning" role="alert">
    Resource content cannot be viewed here due to publication status or display format.
  </div>
<% end %>
