<table class="table table-striped" style="caption-side: top">
  <caption>
    Listing of all files that can be attached to this resource, according to use.
  </caption>
  <thead>
    <tr>
      <th scope="col">File Use</th>
      <th scope="col">Media Type</th>
      <th scope="col">File Size</th>
      <th scope="col">SHA-1 Digest</th>
      <th scope="col">Creation Date<sup>*</sup></th>
      <th scope="col">Up</th>
    </tr>
  </thead>
  <tbody>
  <% current_object.attachable_files.each do |ddr_file| %>
    <tr>
      <% if current_object.has_file?(ddr_file) %>
        <td><%= link_to_if can?(:"download_#{ddr_file}", current_object), ddr_file, ddr_download_path(current_object.id, ddr_file),
		{'title'=>"Download #{ddr_file}", 'data-toggle'=>'tooltip'} %></td>
	<td><%= current_object[ddr_file].media_type %></td>
	<td><%= number_to_human_size current_object[ddr_file].file_size rescue 'ERROR' %></td>
	<td><%= current_object[ddr_file].sha1 %></td>
	<td><%= current_object[ddr_file].file_created_at.to_fs(:db) rescue 'ERROR' %></td>
	<td><%= file_upload_link(ddr_file) %></td>
      <% else %>
	<td><%= ddr_file %>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td>-</td>
	<td><%= file_upload_link(ddr_file) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <sup>*</sup> The creation date of the file <em>in the repository</em>
  -- i.e., not the original creation date of the file that was ingested.
</p>
