<div class="card bg-light">
  <div class="card-body form-group mb-0">
    <%= cancel_button class: "float-right form-action-cancel" %>
    <%= f.submit class: "btn btn-primary form-action-submit", "data-disable-with" => "Submitted ..." %>
  </div>
</div>
