<div class="form-group card card-body bg-light">
  <%= label_tag :comment %>
  <%= text_area_tag :comment, nil, class: "form-control" %>
  <span class="form-text">Custom note to add to record of this change (optional)</span>
</div>
