<% if change_set&.errors&.any? %>
  <div class="alert alert-danger">
    <p>
      <strong>The action could not be completed due to the following errors:</strong>
    </p>
    <ul>
      <% change_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
