<% if current_object.has_iiif_file? %>
  <pre class="p-4 mt-4 border rounded bg-light"><%= JSON.pretty_generate(current_object.iiif) %></pre>
<% else %>
  <div class="alert alert-warning" role="alert">
    This resource does not currently have a IIIF manifest.
  </div>
<% end %>
