<div class="card bg-light clearfix" id="object-summary">
  <div class="card-body">
    <h2 id="object-title" class="card-title h4">
      <%= link_to_unless_current render_object_title, url_for(current_object) %>
    </h2>
    <div class="card-subtitle">
        <%= current_object.common_model_name %> <%= current_object.id %><br/>
    </div>
    <div id="object-thumbnail" class="mt-3 float-right">
      <%= render_thumbnail current_object %><br/>
    </div>
    <ul class="mt-3 list-unstyled card-text">
      <li>
        <%= render partial: 'bookmark_control', locals: { document: current_document } %>
      </li>
      <% if current_document.local_id.present? %>
        <li class="small">
          <%= current_document.local_id %>
        </li>
      <% end %>
      <% if current_document.has_content? %>
        <li>
          <%= render partial: 'document_content', locals: {document: current_document} %><br/>
        </li>
      <% end %>
      <% if current_document.has_intermediate_file? %>
        <li>
          <%= render partial: 'document_intermediate', locals: {document: current_document}%><br/>
        </li>
      <% end %>
      <% if current_document.streamable? %>
        <li>
          <%= render partial: 'document_streamable_media', locals: {document: current_document } %><br/>
        </li>
      <% end %>
      <% if current_document.caption_path.present? %>
        <li>
          <%= render partial: 'document_caption', locals: {document: current_document } %><br/>
        </li>
      <% end %>
    </ul>
  </div>
</div>
