<div class="document blacklight-item" itemscope itemtype="http://schema.org/Thing">
  <div class="documentHeader row">
    <h3 class="index_title document-title-heading col-sm-9 col-lg-10">
    <span class="document-counter">
      <%= "#{idx}." %>
    </span>
      <%= link_to obj.title_display, obj.resource %>
    </h3>
  </div>
  <div class="document-thumbnail">
    <%= render_thumbnail obj %>
  </div>
  <dl class="document-metadata row dl-invert">
    <% Ddr::Admin.index_list_entry_fields.each do |field| %>
    <dt class="col-3"><%= t("ddr.index_list_entry.#{field}") %>:</dt>
    <dd class="col-9"><%= obj.send(field) %></dt>
    <% end %>
  </dl>
</div>
