<h2 class="sr-only">Object List</h2>
<%= render 'sort_and_per_page' %>
<div id="documents" class="documents-list">
  <% @paginatable_objects.each_with_index do |obj, idx| %>
    <%= render partial: 'object_list_entry',
               locals: { obj: obj,
                         idx: @paginatable_objects.offset_value + 1 + idx } %>
  <% end %>
  <%= paginate @paginatable_objects, outer_window: 2, theme: 'blacklight' %>
</div>
