<li class="list-group-item <% if status %>list-group-item-<%= status %><% end %>">
  <% if value %><span class="float-right"><%= value %></span>
  <% end %>
  <%= t("ddr.object_info.#{label}") %>
</li>
