<ul class="list-group mt-3" id="object-info">

  <li class="list-group-item active">
    <%= t("ddr.object_info.header") %>
  </li>

  <% if permanent_id = current_object.permanent_id %>
    <%= object_info_item value: permanent_id, label: t("ddr.object_info.permanent_id.assigned") %>
  <% else %>
    <%= object_info_item label: t("ddr.object_info.permanent_id.not_assigned"), status: "warning" %>
  <% end %>

  <%= object_workflow_state %>

  <% if current_object.embargoed? %>
    <%= object_info_item value: format_date(current_object.embargo), label: t("ddr.object_info.embargoed"), status: "warning" %>
  <% end %>

  <%= object_info_item value: format_date(current_object.ingestion_date), label: t("ddr.object_info.create_date")%>

  <%= object_info_item value: format_date(current_object.updated_at), label: t("ddr.object_info.modified_date") %>

  <% if last_fixity_check = Ddr::Events::FixityCheckEvent.for_object(current_object).last %>
      <%= object_info_item value: format_date(last_fixity_check.event_date_time), label: t("ddr.object_info.fixity.checked"), status: (last_fixity_check.success? ? "success" : "danger")  %>
  <% else  %>
      <%= object_info_item label: t("ddr.object_info.fixity.not_checked"), status: "warning"  %>
  <% end  %>

  <% if current_object.can_have_content? %>
    <% if last_virus_check = Ddr::Events::VirusCheckEvent.for_object(current_object).last %>
      <%= object_info_item value: format_date(last_virus_check.event_date_time), label: t("ddr.object_info.virus.scanned"), status: (last_virus_check.success? ? 'success' : 'danger') %>
    <% else %>
      <%= object_info_item label: t("ddr.object_info.virus.not_scanned"), status: "warning" %>
    <% end %>
    <% else %>
  <% end %>

<%# EVENTS %>
  <li class="list-group-item">
     <span class="badge badge-pill badge-secondary"><%= Ddr::Events::Event.for_object(current_object).count %></span>
<%#  <%= link_to_unless_current "Events", {action: "events"} %>
      <%= link_to_unless_current t("ddr.object_info.events"), {action: "events"} %>
  </li>

</ul>
