<span class="sr-only"><%= t('blacklight.search.per_page.title') %></span>
<div id="per_page-dropdown" class="dropdown btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <%= t(:'blacklight.search.per_page.button_label', :count => current_per_page) %>
  </button>
  <div class="dropdown-menu">
    <%- per_page_options_for_select.each do |(label, count)| %>
      <%= link_to(label, url_for(search_state.params_for_search(per_page: count)), class: 'dropdown-item') %>
    <%- end -%>
  </div>
</div>
