<% count = get_children_query(current_object).count %>
<li class="list-group-item">
  <span class="badge badge-pill badge-secondary"><%= count %></span>
  <%= render partial: 'link_to_children', locals: { count: count } %>
</li>
