<table class="table roles">
  <thead>
  <tr>
    <th scope="col" class="type">Role Type</th>
    <th scope="col" class="agent">Agent</th>
    <th scope="col" class="scope">Scope</th>
  </tr>
  </thead>
  <tbody class="granted">
  <% current_object.roles.each do |role| %>
    <tr class="role">
      <td class="type"><%= role.role_type %></td>
      <td class="agent"><%= role.agent %></td>
      <td class="scope"><%= role.scope %></td>
    </tr>
  <% end %>
  </tbody>
  <% unless current_object.is_a? Ddr::Collection %>
    <tbody class="inherited">
    <% current_object.inherited_roles.each do |role| %>
      <tr class="role table-info" title="Inherited role">
        <td class="role_type"><%= role.role_type %></td>
        <td class="agent"><%= role.agent %></td>
        <td class="scope"><%= role.scope %> (inherited)</td>
      </tr>
    <% end %>
    </tbody>
  <% end %>
</table>

<%= render "docs/roles_modal" %>
