<div class="form-group">
  <%= label_tag "content_file", "Content File" %>
  <%= file_field_tag "content[file]" %>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= label_tag "content_checksum_type", "Checksum Type" %>
      <%= select_tag "content[checksum_type]", options_for_select(checksum_type_options_for_select, 'SHA1'), class: "form-control" %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group">
      <%= label_tag "content_checksum", "Checksum" %>
      <%= text_field_tag "content[checksum]", nil, class: "form-control" %>
      <span class="form-text text-muted">Optional checksum to validate against the repository</span>
    </div>
  </div>
</div>
