<div id="sortAndPerPage" class="clearfix py-3">
  <%= render :partial => "paginate_compact", :object => @paginatable_objects %>
  <div class="search-widgets float-right">
    <%= render :partial => 'sort_widget' %>
    <%= render :partial => 'per_page_widget' %>
  </div>
</div>
