<div class="tab-pane" id="<%= tab.css_id %>">
  <% if tab.navbar? && tab.actions.any?(&:can?) %>
    <%= render partial: 'tab_actions', locals: { tab: } %>
  <% end %>

  <% if tab.async? && !request.xhr? %>
    <%= render partial: 'tab_ajax_content', locals: { tab: } %>
  <% else %>
    <%= render partial: tab.partial, locals: { tab: } %>
  <% end %>
</div>
