<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"><%= tab.title %></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% tab.actions.select(&:can?).each do |action| -%>
	<%= link_to action.title, url_for(action.url_options), {'class'=>'nav-link btn btn-light', 'target'=>action.target} %>
      <% end -%>
    </div>
  </div>
</nav>
