<% if current_object.has_content? %>
  <table class="table table-striped table-sm">
    <tbody>
    <% tech_metadata_fields.each do |field, values| %>
      <% values.each do |value| %>
        <tr>
          <th scope="row"><%= t("ddr.resource.techmd.#{field}") %></th>
          <td><%= value %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <% if current_object.techmd.fits? %>
    <dl class="card card-body bg-light">
      <dt>FITS Version</dt>
      <dd><%= current_object.techmd.fits_version %></dd>
      <dt>Run at</dt>
      <dd><%= format_date current_object.techmd.fits_datetime %></dd>
    </dl>
  <% end %>
<% else %>
  <p class="alert alert-danger">
    This object has no content.
  </p>
<% end %>
