<div class="d-none d-sm-block nav-item pt-sm-2 mr-sm-2">
  <span><strong><%= t('ddr.user.welcome.authenticated') %></strong></span>
</div>
<div class="nav-item dropdown my-3 my-sm-0 mr-sm-3">
  <a role="button" class="px-3 text-white nav-link btn <%= acting_as_superuser? ? 'btn-danger' : 'btn-primary' %> btn-sm dropdown-toggle"
   data-toggle="dropdown" aria-expanded="false" href="#">
    <% if acting_as_superuser? %><span class="fas fa-eye"></span><% end %>
    <%= current_user.to_s %>
  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <% if authorized_to_act_as_superuser? %>
      <% if acting_as_superuser? %>
        <%= link_to ddr_superuser_sign_out_path, class: 'dropdown-item' do %>
          <span class="fas fa-eye-slash"></span> Stop acting as Superuser
        <% end %>
      <% else %>
        <%= link_to ddr_superuser_sign_in_path, class: 'dropdown-item' do %>
          <span class="fas fa-eye"></span> Act as Superuser
        <% end %>
      <% end %>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/admin/api" target="_blank">
        <span class="fas fa-wrench"></span> API Documentation
      </a>
    <% end %>
    <%= link_to bookmarks_path, class: 'dropdown-item' do %>
      <span class="fas fa-bookmark"></span> Bookmarks
    <% end %>
    </li>
    <%= link_to ddr_my_batches_path, class: 'dropdown-item' do %>
      <span class="fas fa-list"></span> Batches
    <% end %>
    <%= link_to new_ddr_export_file_path, class: 'dropdown-item' do %>
      <span class="fas fa-save"></span> Export Files
    <% end %>
    <%= link_to ddr_roles_batch_path, class: 'dropdown-item' do %>
      <span class="fas fa-certificate"></span> Modify Roles
    <% end %>
    <% if curator? %>
      <%= link_to 'https://groups.oit.duke.edu/groupmanager/dukeGroups/policyGroups/duke-digital-repository',
	  target: "_blank", class: 'dropdown-item' do %>
        <span class="fas fa-users"></span> Group Admin
      <% end %>
      <%= link_to admin_queues_path, class: 'dropdown-item' do %>
        <span class="fas fa-tasks"></span> Queues
      <% end %>
      <%= link_to ENV.fetch('SOLR_ADMIN_URL', '/solr'), target: '_blank', class: 'dropdown-item' do %>
        <span class="fas fa-certificate"></span> Solr Admin
      <% end %>
      <%= link_to admin_expire_public_rails_cache_path, class: 'dropdown-item', data: {confirm: 'Are you sure?'} do %>
        <span class="fas fa-recycle"></span> Expire Public Cache
      <% end %>
    <% end %>
    <%= link_to '/doc', target: '_blank', class: 'dropdown-item' do %>
      <span class="fas fa-book"></span> Code Documentation
    <% end %>
    <%= link_to blacklight.search_history_path, class: 'dropdown-item' do %>
      <span class="fas fa-history"></span>
        <%= t('blacklight.header_links.search_history') %>
    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to destroy_user_session_path, class: 'dropdown-item' do %>
      <span class="fas fa-sign-out-alt"></span>
        <%= t('blacklight.header_links.logout') %>
    <% end %>
  </div>
</div>
