<% content_for :page_heading do %>
  Edit Administrative Metadata
<% end %>

<%= form_for change_set, as: :adminMetadata, url: { action: "admin_metadata" }, method: :patch do |f| %>
  <%= render 'form_lock_token' %>
  <%= render 'form_errors' %>
  <%= render partial: "admin_metadata_form_fields", locals: { f: f } %>
  <%= render partial: "form_comment" %>
  <%= render partial: "form_actions", locals: { f: f } %>
<% end %>
