<% content_for :page_heading do %>
  Edit Descriptive Metadata
<% end %>

<%= render 'ddr/desc_metadata_form/navbar' %>

<%= form_for change_set, as: :descMetadata, html: { class: "desc-metadata-form" } do |form| %>
  <%= render 'form_lock_token' %>
  <%= render 'form_errors' %>
  <%= render 'ddr/desc_metadata_form/fields' %>
  <%= render 'form_comment' %>
  <%= render partial: 'ddr/desc_metadata_form/actions', locals: { form: form } %>
<% end %>

<%= render 'ddr/desc_metadata_form/clones' %>

<%= render 'ddr/desc_metadata_form/script' %>
