<%= content_for :page_heading do %>
  Confirm Request to <%= @action_title %> <%= current_object.human_readable_type %>
<% end %>

<div class="alert alert-info" role="alert">
  <p>
    Are you sure you want to <strong><%= @action_title %></strong> this <%= current_object.human_readable_type %>?
  </p>
  <% if current_object.is_a? Ddr::Collection %>
    <p>
      This action will also apply to all Items and Components in the Collection, except those which have been
      made non-publishable.
    </p>
  <% elsif current_object.is_a? Ddr::Item %>
    <p>
      This action will also apply to all Components of the Item, except those which have been
      made non-publishable.
    </p>
  <% end %>
</div>
<p>
  <%= link_to 'Cancel',
      :back,
      {class: 'btn btn-danger active', role: 'button', 'aria-pressed'=>'true'} %>
  <%= link_to @action_title,
      {action: params[:action], id: current_object, confirmed: 'true'},
      {class: 'btn btn-primary active', role: 'button', 'aria-pressed'=>'true'} %>
</p>
