<% content_for :page_heading do %>
  <%= current_object.title_display %>
<% end %>

<ul class="nav nav-tabs" id="object-show-tabs">
  <% current_tabs.each do |tab| %>
    <li class="nav-item">
      <%= link_to(tab.title, "##{tab.css_id}", class: 'nav-link font-weight-semibold px-2', 'data-toggle'=>'tab') %>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <% current_tabs.each do |tab| %>
    <%= render partial: 'tab', locals: { tab: } %>
  <% end %>
</div>

<script type="text/javascript">
  $(function() { $('#object-show-tabs a[href="#<%= current_tabs.active.css_id %>"]').tab('show'); })
</script>
