<% content_for :page_heading do %>
  <%= "Upload #{@ddr_file} File" %>
<% end %>

<%= form_tag url_for(action: "upload"), method: "patch", multipart: true do %>
  <%= render 'form_errors' %>
  <%= hidden_field_tag "content[ddr_file_type]", @ddr_file %>
  <%= hidden_field_tag "optimistic_lock_token", current_object.optimistic_lock_token.first.to_s %>
  <%= render 'select_content_file' %>
  <%= render 'form_comment' %>

  <div class="card bg-light">
    <div class="card-body form-group mb-0">
      <%= cancel_button class: "float-right" %>
      <%= submit_tag "Upload", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
