<div class="navbar-nav">
  <% if current_user %>
    <%= render 'user_menu' %>
    <%= render 'create_menu' %>
  <% else %>
      <strong><%= t('ddr.user.welcome.guest') %></strong>
    <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</div>
