<%# Modified version of BL default layouts; See: %>
<%# https://github.com/projectblacklight/blacklight/blob/release-7.x/app/views/layouts/blacklight/base.html.erb %>
<%# https://github.com/projectblacklight/blacklight/blob/release-7.x/app/views/layouts/blacklight.html.erb %>
<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **html_tag_attributes do %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= render_page_title %></title>
    <script>
      document.querySelector('html').classList.remove('no-js');
    </script>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>

    <%# DUL CUSTOMIZATION: add Google Font %>
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">

    <%# DUL CUSTOMIZATION: add custom favicon tags %>
    <%# see https://tinyurl.com/favicons-in-2021   %>

    <%# Opting to store these files in /public rather than /assets because %>
    <%# the manifest file can't point to fingerprinted paths. %>

    <link rel="icon" href="<%= image_path('/favicon/favicon.ico') %>" sizes="any">
    <link rel="icon" href="<%= image_path('/favicon/favicon.svg') %>" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('/favicon/favicon-16x16.png') %>">
    <link rel="manifest" href="<%= image_path('/favicon/site.webmanifest') %>">
    <link rel="mask-icon" href="<%= image_path('/favicon/safari-pinned-tab.svg') %>" color="#053482">
    <meta name="msapplication-TileColor" content="#053482">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
  </head>
  <body class="<%= render_body_class %>">
    <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links.label') %>">
      <%= link_to t('blacklight.skip_links.search_field'), '#search_field', class: 'element-invisible element-focusable rounded-bottom py-2 px-3' %>
      <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3' %>
      <%= content_for(:skip_links) %>
    </nav>
    <%= render partial: 'shared/header_navbar' %>

  <main id="main-container" class="<%= container_classes %>" role="main" aria-label="<%= t('blacklight.main.aria.main_container') %>">
    <%= content_for(:container_header) %>

    <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

    <div class="row">
      <% if content_for? :sidebar %>
        <section id="content" class="<%= main_content_classes %>">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </section>

        <section id="sidebar" class="<%= sidebar_classes %>" aria-label="Sidebar">
          <%= yield(:sidebar) %>
        </section>
      <% else %>
        <section class="col-12">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </section>
      <% end %>
    </div>

    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/modal' %>
  </body>
<% end %>
