<% content_for :content do %>
  <div class="col-12">
    <h1>New <%= current_object.common_model_name %></h1>
  </div>
  <div class="col-md-6">
    <%= form_for change_set, html: { enctype: "multipart/form-data" } do |f| %>
      <%= render 'form_errors' %>
      <%= yield %>
      <%= render partial: 'form_actions', locals: {f: f} %>
    <% end %>
  </div>
<% end %>

<%= render template: 'layouts/blacklight' %>
