<% content_for :content do %>
  <% unless current_page?(action: "show") %>
    <div class="h4 object-page-superheading">
      <%= link_to current_object.title_display, url_for(current_object) %>
    </div>
  <% end %>
  <h1 class="object-page-heading">
    <%= yield :page_heading %>
  </h1>
  <%= yield %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'object_summary' %>
  <ul class="list-group mt-3" id="related-objects">
    <%= render 'related_objects' %>
  </ul>
  <%= render 'object_info' %>
<% end %>

<%= render template: 'layouts/blacklight' %>
